Repository COS301-SE-2022/Conversation-Catcher, pull requests merged in 2022-07, with the labels that each got.

#187 🚧: Fix cqrs modules
  libs/api/database-manager/api/feature/src/lib/database-manager.resolver.ts
  libs/api/database-manager/service/feature/src/lib/database-manager.service.ts
  libs/api/pdf-manager/api/feature/src/lib/api-pdf-manager-api-feature.module.ts
  libs/api/pdf-manager/api/feature/src/lib/api-pdf-manager-api-feature.resolver.spec.ts
  libs/api/pdf-manager/api/feature/src/lib/api-pdf-manager-api-feature.resolver.ts
  libs/api/pdf-manager/repository/data-access/src/lib/mongodb-access.ts
  libs/api/pdf-manager/repository/data-access/src/lib/pdf-manager-repository-data-access.module.ts
  libs/api/pdf-manager/service/.babelrc
  libs/api/pdf-manager/service/.eslintrc.json
  libs/api/pdf-manager/service/README.md
  libs/api/pdf-manager/service/feature/src/lib/api-pdf-manager-service-feature.module.ts
  libs/api/pdf-manager/service/feature/src/lib/api-pdf-manager-service-feature.service.ts
  libs/api/pdf-manager/service/feature/src/lib/commands/handlers/set-pdf-manager.handler.ts
  libs/api/pdf-manager/service/jest.config.ts
  libs/api/pdf-manager/service/project.json
  libs/api/pdf-manager/service/src/index.ts
  libs/api/pdf-manager/service/src/lib/api-pdf-manager-service.module.ts
  libs/api/pdf-manager/service/src/lib/api-pdf-manager-service.service.spec.ts
  libs/api/pdf-manager/service/src/lib/api-pdf-manager-service.service.ts
  libs/api/pdf-manager/service/src/lib/commands/handlers/delete-pdf-manager.handler.ts
  libs/api/pdf-manager/service/src/lib/commands/handlers/index.ts
  libs/api/pdf-manager/service/src/lib/commands/handlers/set-pdf-manager.handler.ts
  libs/api/pdf-manager/service/src/lib/commands/impl/delete-pdf-manager.command.ts
  libs/api/pdf-manager/service/src/lib/commands/impl/index.ts
  libs/api/pdf-manager/service/src/lib/commands/impl/set-pdf-manager.command.ts
  libs/api/pdf-manager/service/src/lib/queries/handlers/get-pdf-manager.handler.ts
  libs/api/pdf-manager/service/src/lib/queries/handlers/index.ts
  libs/api/pdf-manager/service/src/lib/queries/impl/get-pdf-manager.query.ts
  libs/api/pdf-manager/service/src/lib/queries/impl/index.ts
  libs/api/pdf-manager/service/tsconfig.json
  libs/api/pdf-manager/service/tsconfig.lib.json
  libs/api/pdf-manager/service/tsconfig.spec.json
  libs/api/shell/src/lib/api-shell.module.ts
  libs/client/ui/src/lib/home/home.js
  libs/client/ui/src/lib/settings/__snapshots__/settings.spec.js.snap
  libs/client/ui/src/lib/settings/settings.js
  libs/client/ui/src/lib/settings/settings.spec.js
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:medium, scope:service, status:not-ready, type:fix

#195 🐛: Fixed api conditions and return error object when conditions not met
  libs/api/pdf-manager/api/feature/src/lib/api-pdf-manager-api-feature.resolver.ts
  libs/api/pdf-manager/repository/data-access/src/lib/mongodb-access.ts
Labels: priority:high, scope:api, type:fix

#199 🎉 Create summarise text structure, tests, api and service
  libs/api/pdf-manager/service/src/lib/api-pdf-manager-service.module.ts
  libs/api/summarise-text/api/src/lib/api-summarise-text-api.module.ts
  libs/api/summarise-text/api/src/lib/api-summarise-text-api.resolver.spec.ts
  libs/api/summarise-text/api/src/lib/api-summarise-text-api.resolver.ts
  libs/api/summarise-text/service/src/index.ts
  libs/api/summarise-text/service/src/lib/api-summarise-text-service.module.ts
  libs/api/summarise-text/service/src/lib/api-summarise-text-service.service.spec.ts
  libs/api/summarise-text/service/src/lib/api-summarise-text-service.service.ts
  libs/api/summarise-text/service/src/lib/commands/handlers/index.ts
  libs/api/summarise-text/service/src/lib/commands/handlers/summarise-summarise-text.handlers.ts
  libs/api/summarise-text/service/src/lib/commands/impl/index.ts
  libs/api/summarise-text/service/src/lib/commands/impl/summarise-summarise-text.command.ts
  libs/api/summarise-text/service/src/lib/queries/handlers/index.ts
  libs/api/summarise-text/service/src/lib/queries/impl/index.ts
Labels: priority:medium, scope:api, scope:cicd, scope:service, status:ready, type:feature, type:test

#191 ✨ Adding strcuture and studs for speech to text api
  libs/api/pdf-manager/api/feature/src/lib/api-pdf-manager-api-feature.resolver.ts
  libs/api/speech-to-text/api/src/index.ts
  libs/api/speech-to-text/api/src/lib/api-speech-to-text-api.module.ts
  libs/api/speech-to-text/api/src/lib/api-speech-to-text-api.resolver.spec.ts
  libs/api/speech-to-text/api/src/lib/api-speech-to-text-api.resolver.ts
  libs/api/speech-to-text/service/src/index.ts
  libs/api/speech-to-text/service/src/lib/api-speech-to-text-service.module.ts
  libs/api/speech-to-text/service/src/lib/api-speech-to-text-service.service.spec.ts
  libs/api/speech-to-text/service/src/lib/api-speech-to-text-service.service.ts
  libs/api/speech-to-text/service/src/lib/commands/events/convert-speech-to-text.event.handler.ts
  libs/api/speech-to-text/service/src/lib/commands/events/convert-speech-to-text.event.ts
  libs/api/speech-to-text/service/src/lib/commands/events/index.ts
  libs/api/speech-to-text/service/src/lib/commands/handlers/convert-speech-to-text.handler.ts
  libs/api/speech-to-text/service/src/lib/commands/handlers/index.ts
  libs/api/speech-to-text/service/src/lib/commands/impl/convert-speech-to-text.command.ts
  libs/api/speech-to-text/service/src/lib/commands/impl/index.ts
  libs/api/speech-to-text/service/src/lib/models/index.ts
  libs/api/speech-to-text/service/src/lib/queries/handlers/index.ts
  libs/api/speech-to-text/service/src/lib/queries/impl/index.ts
Labels: priority:medium, scope:api, scope:service, status:ready, type:feature

#203 🐛:Fix all api calls
  libs/api/pdf-manager/api/feature/src/lib/api-pdf-manager-api-feature.resolver.ts
  libs/api/pdf-manager/repository/data-access/src/lib/mongodb-access.ts
  libs/api/pdf-manager/service/src/lib/commands/handlers/delete-pdf-manager.handler.ts
  libs/api/pdf-manager/service/src/lib/commands/handlers/set-pdf-manager.handler.ts
  libs/api/pdf-manager/service/src/lib/queries/handlers/get-pdf-manager.handler.ts
Labels: priority:high, status:ready, status:needs-tests, type:fix

#208 🐛 ♻️: Fix date in api and refactor api code
  libs/api/pdf-manager/api/data-access/src/lib/pdf.entity.ts
  libs/api/pdf-manager/api/feature/src/lib/api-pdf-manager-api-feature.resolver.ts
Labels: priority:high, scope:db, scope:api, status:needs-tests, type:fix

#209 Develop
  libs/api/pdf-manager/api/data-access/src/lib/pdf.entity.ts
  libs/api/pdf-manager/api/feature/src/lib/api-pdf-manager-api-feature.resolver.ts
Labels: priority:high

#214 Revert "Develop"
  libs/api/pdf-manager/api/data-access/src/lib/pdf.entity.ts
  libs/api/pdf-manager/api/feature/src/lib/api-pdf-manager-api-feature.resolver.ts
Labels: priority:high

#218 🎉 Adding authentication to backend
  libs/api/authentication/api/feature/.babelrc
  libs/api/authentication/api/feature/.eslintrc.json
  libs/api/authentication/api/feature/README.md
  libs/api/authentication/api/feature/jest.config.ts
  libs/api/authentication/api/feature/project.json
  libs/api/authentication/api/feature/src/index.ts
  libs/api/authentication/api/feature/src/lib/api-authentication-api-feature.module.ts
  libs/api/authentication/api/feature/src/lib/api-authentication-api-feature.resolver.spec.ts
  libs/api/authentication/api/feature/src/lib/api-authentication-api-feature.resolver.ts
  libs/api/authentication/api/feature/tsconfig.json
  libs/api/authentication/api/feature/tsconfig.lib.json
  libs/api/authentication/api/feature/tsconfig.spec.json
  libs/api/authentication/repository/data-access/.babelrc
  libs/api/authentication/repository/data-access/.eslintrc.json
  libs/api/authentication/repository/data-access/README.md
  libs/api/authentication/repository/data-access/jest.config.ts
  libs/api/authentication/repository/data-access/project.json
  libs/api/authentication/repository/data-access/src/index.ts
  libs/api/authentication/repository/data-access/src/lib/api-authentication-repository-data-access.module.ts
  libs/api/authentication/repository/data-access/src/lib/mongodb-access.spec.ts
  libs/api/authentication/repository/data-access/src/lib/mongodb-access.ts
  libs/api/authentication/repository/data-access/tsconfig.json
  libs/api/authentication/repository/data-access/tsconfig.lib.json
  libs/api/authentication/repository/data-access/tsconfig.spec.json
  libs/api/authentication/service/.babelrc
  libs/api/authentication/service/.eslintrc.json
  libs/api/authentication/service/README.md
  libs/api/authentication/service/jest.config.ts
  libs/api/authentication/service/project.json
  libs/api/authentication/service/src/index.ts
  libs/api/authentication/service/src/lib/api-authentication-service.module.ts
  libs/api/authentication/service/src/lib/api-authentication-service.service.spec.ts
  libs/api/authentication/service/src/lib/api-authentication-service.service.ts
  libs/api/authentication/service/src/lib/commands/handlers/index.ts
  libs/api/authentication/service/src/lib/commands/handlers/sign-up.handler.ts
  libs/api/authentication/service/src/lib/commands/impl/index.ts
  libs/api/authentication/service/src/lib/commands/impl/sign-up.command.ts
  libs/api/authentication/service/src/lib/queries/handlers/index.ts
  libs/api/authentication/service/src/lib/queries/handlers/log-in.handler.ts
  libs/api/authentication/service/src/lib/queries/impl/index.ts
  libs/api/authentication/service/src/lib/queries/impl/log-in.query.ts
  libs/api/authentication/service/tsconfig.json
  libs/api/authentication/service/tsconfig.lib.json
  libs/api/authentication/service/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:medium, scope:api, scope:service, scope:repository, status:ready, type:feature

#227 Trained models
  libs/api/speech-to-text/huggingface/input.flac
  libs/api/speech-to-text/huggingface/speech-to-text.py
  libs/api/summarise-text/huggingface/summarise-text.py
Labels: priority:medium, scope:service, status:needs-tests, type:feature

#219 :sparkles: adding to yarn for authentication
  package-lock.json
  package.json
  yarn.lock
Labels: priority:medium, scope:design, status:ready, type:change

#228 ✨:Connect api to React native
  apps/client/package.json
  apps/client/src/app/App.tsx
  libs/api/pdf-manager/api/data-access/src/lib/pdf.entity.ts
  libs/api/pdf-manager/api/feature/src/lib/api-pdf-manager-api-feature.resolver.ts
  libs/api/pdf-manager/repository/data-access/src/lib/mongodb-access.ts
  libs/api/pdf-manager/service/src/lib/api-pdf-manager-service.module.ts
  libs/api/pdf-manager/service/src/lib/api-pdf-manager-service.service.ts
  libs/api/pdf-manager/service/src/lib/commands/handlers/set-pdf-manager.handler.ts
  libs/api/pdf-manager/service/src/lib/commands/impl/set-pdf-manager.command.ts
  libs/api/shell/src/lib/api-shell.module.ts
  libs/api/speech-to-text/api/src/lib/api-speech-to-text-api.module.ts
  libs/api/speech-to-text/api/src/lib/api-speech-to-text-api.resolver.ts
  libs/api/speech-to-text/service/src/lib/api-speech-to-text-service.module.ts
  libs/api/speech-to-text/service/src/lib/api-speech-to-text-service.service.ts
  libs/api/speech-to-text/service/src/lib/commands/handlers/convert-speech-to-text.handler.ts
  libs/api/summarise-text/api/src/lib/api-summarise-text-api.module.ts
  libs/api/summarise-text/api/src/lib/api-summarise-text-api.resolver.ts
  libs/api/summarise-text/service/src/lib/commands/handlers/summarise-summarise-text.handlers.ts
  libs/client/ui/src/lib/assets/loading-circle.json
  libs/client/ui/src/lib/home/__snapshots__/home.spec.js.snap
  libs/client/ui/src/lib/home/home.js
  libs/client/ui/src/lib/home/home.spec.js
  libs/client/ui/src/lib/shared-components/loading/loading.js
  libs/client/ui/src/lib/shared-components/loading/loading.spec.js
  libs/client/ui/src/lib/shared-components/pdf-tile/pdf-tile.js
  libs/client/ui/src/lib/shared-components/pdf-view/__snapshots__/pdf-view.spec.js.snap
  libs/client/ui/src/lib/shared-components/pdf-view/pdf-view.js
  libs/client/ui/src/lib/shared-components/pdf-view/pdf-view.spec.js
  libs/client/ui/src/lib/view-all/view-all.js
  libs/client/ui/src/lib/view-all/view-all.spec.js
  libs/client/ui/test-setup.ts
  package.json
  yarn.lock
Labels: priority:high, scope:ui, scope:db, scope:api

#229 ✨🐛 Api changes
  libs/api/pdf-manager/repository/data-access/src/lib/mongodb-access.ts
  libs/api/speech-to-text/api/src/lib/api-speech-to-text-api.resolver.ts
  libs/api/speech-to-text/service/src/lib/api-speech-to-text-service.service.ts
  libs/api/speech-to-text/service/src/lib/commands/events/convert-speech-to-text.event.ts
  libs/api/speech-to-text/service/src/lib/commands/impl/convert-speech-to-text.command.ts
Labels: priority:high, scope:api, scope:service, scope:repository, type:fix

#202 Redux
  apps/client/android/'}
  apps/client/package.json
  apps/client/src/app/App.tsx
  apps/client/src/app/slices/colour.slice.spec.ts
  apps/client/src/app/slices/colour.slice.ts
  apps/client/src/main.tsx
  libs/client/ui/src/lib/colour-page/colour-page.js
  libs/client/ui/src/lib/colour-page/colour-page.spec.js
  libs/client/ui/src/lib/home/home.js
  libs/client/ui/src/lib/settings/settings.js
  libs/client/ui/src/lib/settings/settings.spec.js
  libs/client/ui/src/lib/shared-components/pdf-tile/__snapshots__/pdf-tile.spec.js.snap
  libs/client/ui/src/lib/shared-components/pdf-tile/pdf-tile.js
  libs/client/ui/src/lib/shared-components/pdf-tile/pdf-tile.spec.js
  libs/client/ui/src/lib/shared-components/pdf-view/pdf-view.js
  libs/client/ui/src/lib/shared-components/pdf-view/pdf-view.spec.js
  libs/client/ui/src/lib/view-all/view-all.js
  libs/client/ui/src/lib/view-all/view-all.spec.js
  package.json
  yarn.lock
Labels: priority:high, scope:ui, status:ready, type:change, type:refactor

#240 Redux colour
  libs/client/ui/src/lib/change-email/change-email.js
  libs/client/ui/src/lib/change-email/change-email.spec.js
  libs/client/ui/src/lib/change-password/change-password.js
  libs/client/ui/src/lib/change-password/change-password.spec.js
  libs/client/ui/src/lib/colour/colour.spec.tsx
  libs/client/ui/src/lib/colour/colour.tsx
  libs/client/ui/src/lib/forgot-password/forgot-password.js
  libs/client/ui/src/lib/forgot-password/forgot-password.spec.js
  libs/client/ui/src/lib/login/__snapshots__/login.spec.js.snap
  libs/client/ui/src/lib/login/login.js
  libs/client/ui/src/lib/login/login.spec.js
  libs/client/ui/src/lib/register/register.js
  libs/client/ui/src/lib/register/register.spec.js
Labels: priority:medium, scope:ui, status:ready, type:change

#241 Klara
  libs/api/summarise-text/service/src/lib/commands/handlers/summarise-summarise-text.handlers.ts
  libs/client/ui/src/lib/shared-components/pdf-view/__snapshots__/pdf-view.spec.js.snap
  libs/client/ui/src/lib/shared-components/pdf-view/pdf-view.js
  libs/client/ui/src/lib/view-all/view-all.js
Labels: priority:medium, scope:ui, type:feature

#242 Add search, rename and delete
  apps/client/src/app/App.tsx
  apps/client/src/app/slices/colour.slice.ts
  apps/client/src/app/slices/email.slice.spec.ts
  apps/client/src/app/slices/email.slice.ts
  apps/client/src/app/slices/pdf.slice.spec.ts
  apps/client/src/app/slices/pdf.slice.ts
  libs/api/pdf-manager/api/feature/src/lib/api-pdf-manager-api-feature.resolver.ts
  libs/api/pdf-manager/repository/data-access/src/lib/mongodb-access.ts
  libs/api/speech-to-text/api/src/lib/api-speech-to-text-api.resolver.ts
  libs/api/speech-to-text/service/src/lib/api-speech-to-text-service.service.ts
  libs/client/ui/src/lib/change-email/change-email.spec.js
  libs/client/ui/src/lib/change-password/change-password.spec.js
  libs/client/ui/src/lib/colour-page/colour-page.spec.js
  libs/client/ui/src/lib/forgot-password/forgot-password.spec.js
  libs/client/ui/src/lib/login/__snapshots__/login.spec.js.snap
  libs/client/ui/src/lib/login/login.spec.js
  libs/client/ui/src/lib/register/register.spec.js
  libs/client/ui/src/lib/settings/settings.spec.js
  libs/client/ui/src/lib/shared-components/pdf-tile/__snapshots__/pdf-tile.spec.js.snap
  libs/client/ui/src/lib/shared-components/pdf-tile/pdf-tile.js
  libs/client/ui/src/lib/shared-components/pdf-view/__snapshots__/pdf-view.spec.js.snap
  libs/client/ui/src/lib/shared-components/pdf-view/pdf-view.js
  libs/client/ui/src/lib/shared-components/pdf-view/pdf-view.spec.js
  libs/client/ui/src/lib/view-all/view-all.js
Labels: priority:high, scope:ui
